# Firebase configuration
VITE_FIREBASE_API_KEY=AIzaSyCFT7PL6jROnHo8ETCEUWMkTxo0_9IjceU
VITE_FIREBASE_AUTH_DOMAIN=myportfolio-ac8b1.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=myportfolio-ac8b1
VITE_FIREBASE_MESSAGING_SENDER_ID=151232178347
VITE_FIREBASE_APP_ID=1:151232178347:web:538791093f3ce5eba86fee

# Cloudinary unsigned upload preset
VITE_CLOUDINARY_CLOUD_NAME=do0pueye3
VITE_CLOUDINARY_UPLOAD_PRESET=portfolio_upload
VITE_CLOUDINARY_PROFILE_IMAGE=https://res.cloudinary.com/do0pueye3/image/upload/v1781929829/fe43e6b1-1cea-4adf-8c63-ac1015168edb_dlzrje.jpg
